body {
    background-color: lightblue;

}
.t1{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    position: relative;
}
.t2{
    width: 4px;
    position: absolute;
    left:100px;
    top: 5%;
}
.t3{
    width: 150px;
    height: 70px;
    position: absolute;
    left:300px;
    top: 10.3%;
}
.t4{
    width: 125px;
    height: 70px;
    position: absolute;

}
.b1{
    width: 50px;
    height: 23px;
    position: absolute;
    left: 110px;
    top: 25%;
}
.bR{
    width: 80px;
    height: 25px;
    position: absolute;
    top: 30%;
}
.bS{
    width: 80px;
    height: 25px;
    position: absolute;
    top: 35%;
}
.bFnt{
    width: 100px;
    height: 25px;
    position: absolute;
    left: 100px;
    top: 25%;
}
.s1{
    width: 50px;
    height: 25px;
    position: absolute;
    left: 200px;
    top: 25%;
}
.s2{
    width: 50px;
    height: 25px;
    position: absolute;
    left: 250px;
    top: 25%;
}
.s3{
    width: 50px;
    height: 25px;
    position: absolute;
    left: 300px;
    top: 25%;
}
.s4{
    width: 50px;
    height: 25px;
    position: absolute;
    left: 350px;
    top: 25%;
}
.s5{
    width: 50px;
    height: 25px;
    position: absolute;
    left: 400px;
    top: 25%;
}
.text1{
    width: 350px;
    height: 500px;
    position: absolute;
    left: 100px;
    top: 30%;
}
.textEdit{
    position: absolute;
    left: 500px;
    top: 20%;
    width:800px;
    height:700px;
}


.ChapterNumber{
    width: 100px;
    height: 17px;
    position: absolute;
    left: 1px;
    top: 25%;

}

.left{
    display:inline-block;
    text-align: left;
    margin-top: auto;
    margin-bottom: auto;
    width: 100%;
}
.center{
    display: inline-block;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    width: 100%;
}
.right{
    display: inline-block;
    text-align: right;
    margin-top: auto;
    margin-bottom: auto;
    width: 100%;
}