body {
    background-color: lightblue;

}
.t1{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    position: relative;
}
.t2{
    width: 4px;
    height: 0px;
    position: absolute;
    left: 460px;
    top: 5%;
}
.t3{
    width: 150px;
    height: 70px;
    position: absolute;
    left:640px;
    top: 10.3%;
}
.t4{
    width: 125px;
    height: 70px;
    position: absolute;
    top: 57%;
}
.b1{
    width: 50px;
    height: 23px;
    position: absolute;
    left: 110px;
    top: 25%;
}
.bR{
    width: 100px;
    height: 25px;
    position: absolute;
    left:360px;
    top: 30%;
}
.bS{
    width: 100px;
    height: 25px;
    position: absolute;
    left: 360px;
    top: 35%;
}
.bFnt{
    width: 100px;
    height: 25px;
    position: absolute;
    left: 460px;
    top: 25%;
}
.s1{
    width: 50px;
    height: 25px;
    position: absolute;
    left: 560px;
    top: 25%;
}
.s2{
    width: 50px;
    height: 25px;
    position: absolute;
    left: 610px;
    top: 25%;
}
.s3{
    width: 50px;
    height: 25px;
    position: absolute;
    left: 660px;
    top: 25%;
}
.s4{
    width: 50px;
    height: 25px;
    position: absolute;
    left: 710px;
    top: 25%;
}
.s5{
    width: 50px;
    height: 25px;
    position: absolute;
    left: 760px;
    top: 25%;
}
.text1{
    width: 350px;
    height: 500px;
    position: absolute;
    left: 460px;
    top: 30%;
}
.text2{
    width: 350px;
    height: 500px;
    position: absolute;
    left: 820px;
    top: 30%;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}
.ChapterNumber{
    width: 100px;
    height: 17px;
    position: absolute;
    left: 1px;
    top: 25%;

}